.product{
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    width: 20%;
}

.product-image{
    width: 100%;
}

p{
    text-align: center;
    margin: 2px 0;
    padding: 2px 0;
}

.button-list{
    text-align: center;
}

.button{
    display: inline;
    border: solid 1px gray;
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
}